{% load staticfiles %}
{% load i18n %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{% url 'pyopenworm:neurons-index' %}">
                <i class='fa fa fa-flask'></i><span>{% trans 'Neurons' %}</span></a>
            </li>
            <!-- <li><a href="{% url 'pyopenworm:muscles-index' %}">
                <i class='fa fa fa-flask'></i><span>{% trans 'Muscles' %}</span></a>
            </li> -->
            <li><a href="{% url 'pyopenworm:channels-index' %}">
                <i class='fa fa fa-flask'></i><span>{% trans 'Channels' %}</span></a>
            </li>
            <!-- <li><a href="{% url 'pyopenworm:evidences-index' %}">
                <i class='fa fa fa-flask'></i><span>{% trans 'Evidences' %}</span></a>
            </li> -->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
