{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Home' %}{% endblock %}
{% block page_header %}{% trans 'Home' %}{% endblock %}
{% block breadcrumb %}
<li class="active">{% trans 'Home' %}</li>
{% endblock %}



{% block content %}
<li><a href="{% url 'pyopenworm:neurons-index' %}">
    <i class='fa fa fa-flask'></i><span>{% trans 'Neurons' %}</span></a>
</li>
<li><a href="{% url 'pyopenworm:muscles-index' %}">
    <i class='fa fa fa-flask'></i><span>{% trans 'Muscles' %}</span></a>
</li>
<li><a href="{% url 'pyopenworm:channels-index' %}">
    <i class='fa fa fa-flask'></i><span>{% trans 'Channels' %}</span></a>
</li>
<li><a href="{% url 'pyopenworm:evidences-index' %}">
    <i class='fa fa fa-flask'></i><span>{% trans 'Evidences' %}</span></a>
</li>
{% endblock %}