{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Muscles' %}{% endblock %}
{% block page_header %}{% trans 'Muscles' %}{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'pyopenworm:index' %}">
            <i class="fa fa-home"> </i>
            {% trans 'Home' %}
        </a>    
    </li>
    <li class="active">{% trans 'Muscles' %}</li>
{% endblock %}

{% block content %}
<div id="container">
    <table style="width:100%">
    <tr>
{% if muscles %}
   There are {{ muscles|length }} muscles in pyopenworm:
   {% for neuron, value in muscles.items %}
        <td style='background-color: {{ value.completeness }}'>   
            <a href="/pyopenworm/muscle/{{ value.name }}">
                <div style="height:100%;width:100%">
                  {{ value.name }}
                </div>
            </a>
        </td>
        {% if forloop.counter|divisibleby:10 %}
            </tr><tr>
        {% endif %}
   {% endfor %}
{% else %}
   There are no muscles were found in the pyopenworm.
{% endif %}
    </tr>
    </table>
</div>

{% endblock %}