{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Muscle' %}{% endblock %}
{% block page_header %}{% trans 'Muscle' %}{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'pyopenworm:index' %}">
            <i class="fa fa-home"> </i>
            {% trans 'Home' %}
        </a>    
    </li>
    <li>
        <a href="{% url 'pyopenworm:muscles-index' %}">
            <i class="fa fa-home"> </i>
            {% trans 'Muscles' %}
        </a>    
    </li>
    <li class="active">{{ muscle.name }}</li>
{% endblock %}


{% block content %}
<div id="container">
    <table style="width:100%">
    <tr style='background-color: {{ muscle.completeness }}'>
    <td>
        {{ muscle.name }}
    </td>
    </tr>
    </table>
    <table style="width:100%">
    <tr>
        <td>
            Neurons: 
        </td>
        <td>
            <ul>
            {% for neurons in muscle.neurons %}
                <li>{{ neurons }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Receptors: 
        </td>
        <td>
            <ul>
            {% for receptors in muscle.receptors %}
                <li>{{ receptors }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
        
    
</div>

{% endblock %}