{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Network' %}{% endblock %}
{% block page_header %}{% trans 'Network' %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'pyopenworm:network-index' %}"><i class="fa fa-home"></i> {% trans 'Network' %}</a></li>
    <li class="active">{% trans 'Network' %}</li>
{% endblock %}

{% block content %}
<div id="container">
    
</div>

<script type="text/javascript">
    data_from_django = {{ neurons|safe }};
</script>

<script src="{% static 'jsfiddle.js' %}"></script>

{% endblock %}