{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Neuron' %}{% endblock %}
{% block page_header %}{% trans 'Neuron' %}{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'pyopenworm:index' %}">
            <i class="fa fa-home"> </i>
            {% trans 'Home' %}
        </a>    
    </li>
    <li>
        <a href="{% url 'pyopenworm:neurons-index' %}">
            <i class="fa fa-home"> </i>
            {% trans 'Neurons' %}
        </a>    
    </li>
    <li class="active">{{ neuron.name }}</li>
{% endblock %}

{% block content %}
<div id="container">

    <table style="width:100%">
    <tr style='background-color: {{ neuron.completeness }}'>
    <td>
        {{ neuron.name }}
    </td>
    </tr>
    </table>
    <table style="width:100%">
    <tr>
        <td>
            Type: 
        </td>
        <td>
            <ul>
            {% for type in neuron.type %}
                <li>{{ type }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Receptor: 
        </td>
        <td>
            <ul>
            {% for receptor in neuron.receptor %}
                <li>{{ receptor }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Innexin: 
        </td>
        <td>
            <ul>
            {% for innexin in neuron.innexin %}
                <li>{{ innexin }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Neurotransmitter: 
        </td>
        <td>
            <ul>
            {% for neurotransmitter in neuron.neurotransmitter %}
                <li>{{ neurotransmitter }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Neuropeptide: 
        </td>
        <td>
            <ul>
            {% for neuropeptide in neuron.neuropeptide %}
                <li>{{ neuropeptide }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    </table>

</div>

{% endblock %}